:root {
  --main-text-color: white;
  --main-bg-color: rgb(25, 33, 41);
  --primary-color: rgb(67, 163, 230);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  width: 100vw;
}

#form-container {
  border: solid 2px var(--primary-color);
  border-radius: 2px;
  margin: auto;
  padding: 20px;
  width: 250px;
}

.no-border {
  border: none;
}

.form-label {
  color: var(--main-text-color);
  display: inline-block;
  margin: 0.5rem 0;
}

.input {
  border: solid 1px var(--primary-color);
  border-radius: 2px;
}

.full-width {
  width: 100%;
}

.updates-text {
  font-style: italic;
}

.button {
  background-color: var(--primary-color);
  border-radius: 15px;
  border-width: 0;
  color: white;
  padding: 5px 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: black;
    --main-bg-color: rgb(228, 235, 242);
    --primary-color: rgb(3, 57, 95);
  }
}
